body {
    background-image: url("background.jpg");
}

.row-bottom-buffer {
    margin-top: 10px;
    margin-bottom: 5px;
}

.row-top-buffer {
    margin-top: 10px;
}

#addDivs {

}

#myText {

}

#targetName {

}

#myButton{

}

.highlight {
    border: #ff4544 3px solid;
}
