body {
/*    background-image: url("//andrewwolfram.github.io/selfservechromeextension/background.jpg");
 */
}

.row-bottom-buffer {
    margin-top: 10px;
    margin-bottom: 5px;
}

.row-top-buffer {
    margin-top: 10px;
}
